.detalhes-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--ice);
    height: 50%;
    margin-bottom: 10px;
}

.botoes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-top: 20px;
}

.botoes a{
    color: var(--black);
    background-color: var(--white);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.botoes a:first-child{
    margin-right: auto;
}

.botoes a:last-child{
    margin-left: 10px;
}

.img-produto{
    width: 220px;
}

.info-item{
    background-color: var(--white);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-top: -20px;
    padding: 5%;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.nome{
    font-size: 20px;
    font-weight: 700;
}

.promocao{
    background-color: red;
    padding: 5px;
    color: var(--white);
    border-radius: 10px;
    font-size: 10px;
    width: 70px;
    text-align: center;
}

.avaliacao{
    font-size: 15px;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 7px;
    margin-right: 5px;
    font-weight: 700;
}

.curtidas{
    font-size: 15px;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 7px;
    margin-right: 5px;
    font-weight: 700;
}

.visualizacoes{
    font-size: 12px;
    color: gray;
}

.descricao{
    font-weight: 500;
}

.btn-configuracao{
    display: flex;
    gap: 10px;
}

.btn-configuracao a{
    border: 2px solid black;
    background-color: var(--white);
    border-radius: 10px;
    padding: 5px 10px;
}

.btn-configuracao .active{
    background-color: var(--green);
    color: var(--white);
    border: none;
}

.toolbar{
    height: 80px;
    border-top: 1px solid var(--ice);
}

.toolbar-inner{
    background-color: var(--white);
    border-top: 1px solid var(--ice);
    gap: 10%;
}

.preco-antes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.riscado{
    text-decoration: line-through;
    color: gray;
}

.preco{
    font-size: 20px;
    font-weight: 700;
}

.btn-carrinho{
    border: none;
    background-color: var(--green);
    width: 200px;
    height: 50px;
    border-radius: 15px;
    color: var(--white);
    font-size: 17px;
}

th,
td{
    padding: 10px 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

th{
    background-color: #ddd;
}