.toolbar{
    height: 80px;
}

.tab-link{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.toolbar-inner{
    background-color: var(--white);
    border-top: 1px solid var(--ice);
}

.toolbar-inner .link{    
    flex:1;
    height: 80px;  
    line-height: 25px; 
	font-weight:bold;
    color: var(--green);    
}

.toolbar-inner .link:not(.active){
    color: var(--black);
	font-weight:normal;
}

.toolbar-inner > .link i{
    font-size: 28px;
}

.top-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5%;
}

.title-logo{
    font-size: 30px;
    font-weight: 600;
}

.btn-car i{
    border: 1px solid gray;
    border-radius: 50px;
    padding: 10px;
    color: var(--black);
    font-size: 20px;
    font-weight: bold;
}

.search{
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.search .input{
    background-color: var(--ice);
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    position: absolute;
}

.search i{
    position: relative;
    left: 40%;
    font-size: 20px;
}

.swiper {
    width: 90%;
    margin-top: 20px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}

.swiper-wrapper{
    display: flex;
    align-items: center;
}

.categories{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.categories .titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.categories .titulo h2{
    font-size: 20px;
}

.categories .titulo a{
    color: var(--green);
}

.btn-swiper{
    border: 2px solid var(--black);
    border-radius: 10px;
    padding: 5px;
    background-color: var(--white);
    cursor: pointer;
}

.btn-swiper.active{
    background-color: var(--green);
    color: var(--white);
    border: none;
}

.secao-produtos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
    margin-top: 20px;
}

.produtos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
}

.image-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-color: var(--ice);
    margin-bottom: 10px;
}

.imagem-produto{
    width: 150px;
}

.item{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    flex: 45%;
    margin: 5px;
}

.item .info-item{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.nome-preco{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nome-item{
    font-size: 13px;
    color: gray;
}

.avaliacao-item{
    font-weight: 700;
}

.preco span{
    font-size: 15px;
    font-weight: 700;
}

.star{
    color: orange;
    margin-right: 5px;
}

.thumb{
    color: var(--green);
    margin-right: 5px;
}

.gelo{
    background-color: var(--ice) !important;
}